<ul id="messages" >
<% if messages.length == 0 %>
<% else %>
  <% messages.each do |message| %>
    <% if message.sender_id == current_user.id %>
      <li class="user_message"><span><%= message.body %><span></li>
    <% else %>
      <li class="friend_message"><span><%= message.body %><span></li>
    <% end %>
  <% end %>
<% end %>
</ul>