<%= turbo_frame_tag "new_message" do %>
  <form action="<%= user_messages_url(user_id: user.id) %>" method="POST" id="new_message">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <input type="hidden" name="message[receiver_name]" value="" /> 
    <input type="text" name="message[body]" placeholder="New Message" value="" />
    
    <input class="submit_btn" type="submit" value="SEND" />
  </form>
<% end %>