<section id="home-partial">
  <ul class="main-content-nav">
    <li class="main-content-active">Home</li>
    <li><%= link_to 'Overview', user_overview_path(@user) %></li>
    <li><a>Patch Notes</a></li>
  </ul>
  <h1>Favorite Champsions</h1>
  <ul>
    <li>Kaisa</li>
    <li>Vayne</li>
    <li>Fiora</li>
    <li>Ashe</li>
    <li>Jinx</li>
    <li>Lucian</li>
  </ul>
</section>