<!-- # Need:
#Header
  #Onclick event that will highlight header nav items when they are active. (DONE)
  #onload of show page, Home is active. (DONE)

#Main-content
  #Onclick event that highlights what's showing. Overview is showing first. (DONE)
  #css animation. strike underline! (DONE)

  #Home
    # Get info from League API. Most played champs?
    # win rate?
  #Overview
    # Background-image: preseason
    # video: preseason video
    # image-thumbnail: /dev 
    # image: ranking
    # shop-skins: 2 skins
  #Patch Notes
    # Link/Preview of league's current patch notes
#Chat-feature
  # Highlight user that you are chatting with.
  # Send messages to each other
    # New db to store messages
  # Chat window
    # On new user to talk to, add friend to list in chat window. (DONE)
    # add button to remove chat with specific person.

#Missions Feature
-->

<div class="user-show">
  <header>
    <nav>
      <div class="nav-left-side">
        <div id="play-btn">
          <div>Logo</div>
          <div id="pentagon">Play</div>
        </div>
        <ul>
          <li><a class="header-nav-active">Home</a></li>
          <li><a>TFT</a></li>
          <li><a>Clash</a></li>
        </ul>
      </div>

      <ul class="nav-right-side">
        <li><a>Profile</a></li>
        <li><a>Collection</a></li>
        <li><a>Loot</a></li>
        <li><a>Currency</a></li>
        <li><a>Profile</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section class="main-content">
      <%= turbo_frame_tag "main" do %>
        <%= render "users/home" %>
      <% end %>
      <aside class="minimize">
        <ul>
        </ul>
        <section>
          <h2>Das Kartoffel</h2>
          <section class="chatbox">
            Tryna run one?
          </section>
          <section class="new-message">
            <%= render "messages/new", user:@user %>
          </section> 
        </section>
      </aside>
    </section>
    <section class="friends">
      <ul class="friends-list">
      <% @friends.each do |friend| %> 
        <li><a><%= friend.username.capitalize() %></a></li>
      <% end %>
      </ul>

      <ul class="friends-extra">
        <li>Chat
        </li>
        <li>Missions</li>
      </ul>
    </section>
  </main>
</div>