.friends {
  width: 10%;
  background-color: rgba(0, 0, 0, 0.897);
  position: relative;
  color: goldenrod;
  border-left: 1px solid rgba(0, 0, 0, 0.897);
}

.friends-list > li a {
  display: block;
  padding: 4px;
  cursor: pointer;
  text-align: center;
}

.friends-list > li a:hover, .highlight {
  background-color: goldenrod;
  color: black;
}

/* Bottom of page, chat and missions */
.friends-extra {
  bottom: 45px;
  position: absolute;
  display: flex;
}

.friends-extra > li {
  border: 1px solid goldenrod;
  background-color: rgba(0, 0, 0, 0.897);
  color: white;
}