.user-show {
  height: 100%;
}

header {
  border-bottom: 1px solid black;
  background-color: purple;
  height: 5%;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-left-side, .nav-right-side {
  display: flex;
}

.nav-left-side > ul {
  display: flex;
}

nav li {
  padding: 12px;
}

#play-btn {
  padding: 10px;
  display: flex;
}

main {
  display: flex;
  height: 95%;
}

.main-content {
  width: 90%;
  position: relative;
}

.overview {
  height: 100%;
  background-image: image-url('fiora_wallpaper.jpeg');
  background-size: cover;
}

.main-content li:hover {
  color: white;
  cursor: pointer;
}

.friends {
  width: 10%;
  background-color: palevioletred;
  position: relative;
}

.friends-list {
  padding: 10px;
}

.friends-list > li {
  padding: 4px;
}

.friends-extra {
  bottom: 45px;
  position: absolute;
  display: flex;
}

.friends-extra > li {
  border: 1px solid gold;
  background-color: darkblue;
  color: white;
}

.main-content-nav {
  display: flex;
  position: absolute;
  top: 45px;
  left: 100px;
}

.main-content-nav > li {
  padding: 3px;
}

.overview {
  display: flex;
  align-items: flex-end;
}

.overview > video, .overview > img {
  width: 20%;
  height: 20%;
  margin-bottom: 30px;
  border: 1px solid black;
}

.overview > img {
  width: 15%;
}
