.user-show {
  height: 100%;
}

header {
  border-bottom: 1px solid black;
  background-color: rgba(0, 0, 0, 0.897);
  height: 5%;
  color: goldenrod;
}

nav {
  display: flex;
  justify-content: space-between;
}

.nav-left-side, .nav-right-side {
  display: flex;
}

.nav-left-side > ul {
  display: flex;
}

nav li {
  padding: 12px;
  position: relative;
}

nav li:hover {
  cursor: pointer;
}

.header-nav-active::before {
  content: '';
  width: 0;
  height: 0;
  border-top: 10px solid goldenrod;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.header-nav-active::after {
  content: '';
  width: 0;
  height: 0;
  border-top: 7px solid rgba(0, 0, 0, 0.897);
  border-right: 7px solid transparent;
  border-left: 7px solid transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#play-btn {
  padding: 10px;
  display: flex;
}

main {
  display: flex;
  height: 95%;
}

.main-content {
  width: 90%;
  //background-color: rgba(0, 0, 0, 0.897);
  background-color: black;
}


.overview {
  height: 100%;
  /*
  background-image: image-url('league_of_legends_preseason_2022.jpeg');
  background-size: contain;
  background-repeat: no-repeat;
  */
}

.main-content-nav {
  display: flex;
  justify-content: flex-start;
  position: relative;
  padding: 10px;
  width: 30%;
}

.main-content-nav > li {
  padding: 3px;
  color: goldenrod;
}

.main-content-nav > li a {
  position: relative;
}

.main-content-nav > li a::after {
  content: '.';
  position: absolute;
  top: 18px;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  color: transparent;
  background: goldenrod;
  height: 1px;
}

.main-content-active {
  border-bottom: 1px solid goldenrod;
}

.main-content-nav > li a:hover::after {
  animation-duration: 1s;
  animation-name: strike;
  animation-iteration-count: infinite;
}

@keyframes strike {
  to {
    width: 100%;
  }
}

.overview {
  display: flex;
  align-items: flex-end;
}

.overview > video, .overview > img {
  width: 20%;
  height: 20%;
  margin-bottom: 30px;
  border: 1px solid black;
}

.overview > video:hover, .overview > img:hover {
  cursor: pointer;
}

.overview > img {
  width: 15%;
}
