@font-face {
  font-family: 'Friz Quadrata Regular OS';
  font-style: normal;
  font-weight: normal;
  src: url(asset-path('friz-quadrata-regular-os-5870333951e7c.woff')) format('woff');
}
  
@font-face {
  font-family: 'Friz Quadrata Bold Italic OS';
  font-style: normal;
  font-weight: normal;
  src: url(asset-path('friz-quadrata-bold-italic-os-5870341205e0f.woff')) format('woff');
}

html, body {
  font-family: 'Friz Quadrata Regular OS', 'Gill Sans';
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}